html .body {
  padding: 0 0;
}
.banner {
  height: 70vh;
  max-width: 100%;
  background-image: url('img/image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  text-align: center;
}

.banner:after {
  content: '';
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#about {
  padding: 20rem 0;
}

#about .container {
  border: 1px solid;
  border-radius: 25px;
}

#about .container:hover {
  transition: color 2s;
  color: bisque;
}

#carouselExampleCaptions {
  padding-top: 8.5px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
}

.banner h2 {
  color: #fff;
  z-index: 1;
  padding: 30px 25px;
  border: 3px solid;
}

footer ul li {
  display: inline-block;
}

#Contact {
  padding-top: 10vh;
  padding-bottom: 5rem;
}

#Contact button {
  background-color: none;
  position: relative;
  height: 50px;
  width: 150px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

#Contact button:hover {
  background-color: rgb(46, 46, 46);
}

#Contact button::before {
  content: '';
  position: absolute;
  background-color: rgb(57, 57, 58);
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  transition: all 0.5s linear;
}

#Contact button:hover::before {
  height: 350px;
  width: 350px;
}

#Contact button::after {
  content: 'Submit';
  position: relative;
  z-index: 1;
}

section {
  padding-top: 5rem;
}

@media (min-width: 350px) {
  .html .body {
    min-width: 1000px;
    display: flex;
  }

  .about {
    justify-items: center;
    columns: 10px;
  }

  #carousel-item img {
    width: 100%;
  }

  .footer {
    min-width: 100px;
    padding-bottom: 50vh;
  }
}
